<html class="no-js" lang="en" >
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/ethlightjs.min.js"></script>
        <script src="js/watcher.js"></script>
        <script src="js/loop.js"></script>
        <script src="configs/config.js"></script>
        <script src="configs/data.js"></script>
        <script src="configs/persons.js"></script>
        <title>HomePage</title>
  </head>
  <body onLoad = "loop()">
    <h1>The Watcher</h1>
  </body>
</html>
